<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <link rel="sytlesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <h1>
        Mitgliederliste
      </h1>
    </header>

    <main>      
      <table class="table table-hover table-dark">
        <thead>
        <tr>
          <th>ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Food</th>
          <th>Training</th>
        </tr>
      </thead>
      <tbody>
        {{# each members}}
           <!-- <tr  onclick="window.location='http://169.254.170.209:3000/profil?{{ this.id}}';">-->
		<tr>
                <td><a href="http://localhost:3000/profile?{{this.id}}">{{ this.id}}</td>
                <td>{{ this.vorname }}</td>
                <td>{{ this.nachname }}  </td>                         
                <td><a href="http://localhost:3000/overviewFood?{{ this.id}}"><i class="fa fa-cutlery"></i></a> </td> 
                <td><a href="http://localhost:3000/overviewTrain?{{ this.id}}"><i class="fa fa-heart-o"></i></a> </td>
            </tr>
        {{/each}}
      </tbody>
      </table>
      <div id="addMember">           
        <button id="myBtn" class="btn btn-default">Neues Mitglied anlegen</button>
          <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <h2>Anmeldedaten</h2>
              <li>                
                <input type="text" name="vorname" placeholder="Vorname" class="form-control">
              </li>
              <li> 
                <input type="text" name="nachname" placeholder="Nachname" class="form-control">
              </li>
              <li>  
                <input type="text" name="gewicht" placeholder="Gewicht" class="form-control">
              </li>
              <li>  
                <input type="password" name="passwort" placeholder="Passwort" class="form-control">  
              </li>
              <li class="form-inline">                 
                <input readonly type="text" name="empfohlen" placeholder="empfholenID" class="form-control">
                <button id="searchbtn" class="btn btn-default" name="suche">suche</button>
              </li>
              <li>               
                <button id="save" class="btn btn-default">speichern</button> 
              </li>          
            </div>
        </div>
        <div id="mySearchModal" class="modal">
            <!-- Modal content -->
            <div class="searchModal-content">
              <span class="sclose">&times;</span>
              <h2>Suche</h2>
              <li class="form-inline">   
                <input type="text" name="svorname" placeholder="Vorname" class="form-control">               
                <input type="text" name="snachname" placeholder="Nachname" class="form-control">              
                <button id="searchStartbtn" class="btn btn-default">suchen</button> 
              </li> 
              <div id="searchList">
              </div>
            </div>
        </div>
      </div>
    
                  
    </main>

    <footer>     
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
